:root {
  /* Accent colors */
  --color-primary: #b3c91b;
  --color-secondary: #171153;

  /* Base colors */
  --color-white: #ffffff;
  --color-ivory: #fbfcf1;
  --color-gray-dark: #212121;
  --coloar-black: #000000;
}
