:root {
    --color-black: oklch(0% 0 0);
    --color-licorice: oklch(15.01% 0.045 314.64);
    --color-jade: oklch(65.87% 0.156 156.57);
    --color-turquoise: oklch(76.67% 0.132 173.52):
    --color-sunglow: oklch(87.89% 0.16173013644255482 90.94449007619014);
    --color-crayola: oklch(63.93% 0.207 13.47);
    --color-indigo: oklch(34.13% 0.155 314.22);
    --color-floral-white: oklch(98.6% 0.015 86.42);
    --color-white: oklch(100% 0 0);
}
