.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--space-xs);

  background-color: var(--color-secondary);
  box-shadow: 0 2px 4px rgba(33, 33, 33, 0.1),
    0 4px 6px rgba(158, 158, 158, 0.05);
}

.logo {
  display: inline-block;

  & svg {
    width: 100%;
    max-width: var(--space-3xl);
    height: auto;
    vertical-align: middle;
  }
}

/* Navigation stylings */

.navigation__button {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);

  width: 100%;
  padding: var(--space-3xs) var(--space-s);
  border: none;
  border-radius: var(--border-radius);
  margin: 0;

  font-family: "Domine", serif;
  font-weight: 600;
  font-size: var(--step-1);

  background-color: var(--color-primary);

  & svg {
    width: var(--step-1);
    height: var(--step-1);
    fill: currentColor;
  }
}

.navigation__item + .navigation__item {
  margin-top: 0.5rem;
}

.navigation__link {
  color: var(--color-white);
}

/* Toggle states */

@media (max-width: 74.98rem) {
  .navigation__button[aria-expanded="false"] {
    & .x {
      display: none;
    }

    ~ .navigation__list {
      display: none;
    }
  }

  .navigation__button[aria-expanded="false"] .x {
    display: none;
  }

  .navigation__button[aria-expanded="true"] {
    & .x {
      display: inline-block;
    }

    & .menu {
      display: none;
    }
  }

  .navigation__list {
    position: absolute;
    top: 100%;
    right: var(--space-xs);

    width: 75vw;
    padding: 2rem 1rem;
    border-radius: var(--border-radius);
    margin: 0;

    background-color: var(--color-primary);
  }
}

@media (min-width: 75rem) {
  .navigation__button {
    display: none;
  }

  .navigation__list.list {
    display: flex;
  }
}
